[Unit]
Description=Netfilter Tables
Documentation=man:nft(8)
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ip rule add fwmark 0xff lookup 100 ; \
/usr/bin/ip route add local default dev lo table 100 ; \
/usr/bin/ip -6 rule add fwmark 0xff lookup 106 ; \
/usr/bin/ip -6 route add local default dev lo table 106 ; \
/usr/bin/nft -f /etc/nftables.conf
ExecReload=/usr/bin/nft -f /etc/nftables.conf
ExecStop=/usr/bin/ip rule del table 100 ; \
/usr/bin/ip route del local default dev lo table 100 ; \
/usr/bin/ip -6 rule del table 106 ; \
/usr/bin/ip -6 route del local default dev lo table 106 ; \
/usr/bin/nft flush ruleset

[Install]
WantedBy=multi-user.target
